# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Variáveis de ambiente
.env

# Sistema
.DS_Store
Thumbs.db
